/* -----------------------****** Start Footer ********-------------------------------------------------------------------- */

footer > div {
    background-color: #2563eb;
    padding: 30px;
    width: 100%;
    margin-top: 70px;
  }
  
  footer a {
    color: #fff;
  }
  
  footer > div > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  footer > div > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
  }
  
  footer > div > div:first-child svg {
    width: 50px;
  }
  
  footer > div > div:first-child p {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 400;
  }
  
  footer > div > div:last-child {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: space-between;
    gap: 30px;
    text-align: end;
    color: #fff;
  }
  
  footer > div > div:last-child > div:first-child {
    width: 30%;
    text-align: justify;
    direction: rtl;
    word-spacing: 7px;
    line-height: 30px;
    color: darkgray;
  }
  
  footer > div > div:last-child > div:first-child > h3 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  
  footer > div > div:last-child > div:nth-child(2),
  footer > div > div:last-child > div:nth-child(3) {
    padding-top: 95px;
  }
  footer > div > div:last-child > div:nth-child(2) > h6,
  footer > div > div:last-child > div:nth-child(3) > h6 {
    font-size: medium;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  footer > div > div:last-child > div:nth-child(2) > h6,
  footer > div > div:last-child > div:nth-child(3) > h6 {
    font-size: medium;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  footer > div > div:last-child > div:nth-child(2) li,
  footer > div > div:last-child > div:nth-child(3) li {
    margin-bottom: 10px;
  }
  
  footer > div > div:last-child > div:nth-child(2) li > a,
  footer > div > div:last-child > div:nth-child(3) li > a {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }
  
  footer > div > div:last-child > div:nth-child(2) li > a > span,
  footer > div > div:last-child > div:nth-child(3) li > a > span {
    margin-bottom: 5px;
    opacity: 0.4;
    word-spacing: 3px;
    font-weight: 300;
  }
  
  footer > div > div:last-child > div:nth-child(2) li > a > span:hover,
  footer > div > div:last-child > div:nth-child(3) li > a > span:hover {
    opacity: 1;
    font-weight: 500;
  }
  
  footer > div > div:last-child > div:nth-child(4) {
    direction: rtl;
    align-self: flex-end;
  }
  
  footer > div > div:last-child > div:nth-child(4) > h6 {
    font-size: 17px;
    font-weight: 600;
    width: fit-content;
  }
  
  footer > div > div:last-child > div:nth-child(4) > div:nth-child(2) {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    font-family: inherit;
    direction: ltr;
    margin: 30px 0;
  }
  
  footer > div > div:last-child > div:nth-child(4) > div:nth-child(2) > input {
    border: 0;
    outline: 0;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    text-align: end;
    padding-right: 20px;
    font-size: medium;
    font-family: inherit;
    padding-bottom: 5px;
  }
  
  footer > div > div:last-child > div:nth-child(4) > div:nth-child(2) > button {
    border: 0;
    outline: 0;
    width: 18%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(11px);
    background-color: #ffffff42;
    border: 1.5px solid #fff;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    font-family: inherit;
    padding-bottom: 4px;
    cursor: pointer;
  }
  
  .box-icon-footer > div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .box-icon-footer svg {
    width: 45px;
  }