/* .title-container {
  text-align: center;
}
.headline {
  color: #b71c1c;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
}
.under-headline {
  color: #000000;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
} */
