/* -----------------------****** Start Header ********-------------------------------------------------------------------- */

header {
  width: 100%;
}

.menu-box {
  width: 97%;
}

.icon-bar {
  width: 2rem;
}

.box-brand {
  margin-bottom: 0.4rem;
}

.menu-home {
  transition: display 5s ease-in-out 0.1s;
}

.shoping-cart {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.icon-apps {
  width: 2rem;
  cursor: pointer;
}

.box-apps {
  min-width: fit-content;
  background-color: transparent;
  border: 0;
  position: inherit;
}

.box-serch {
  width: 22rem;
}

.box-serch > input {
  margin-left: 0.1rem;
}

.shoping-cart:hover,
.page:hover {
  transform: scale(1.1);
}

#login > span {
  white-space: nowrap;
}

/* -------------------------------------------- */

.nav-item:hover > a {
  color: #0d6efd !important;
}

.menu > li {
  height: 3rem;
  align-items: center;
}
.icon-category-menu {
  transition: all 0.4s ease 0.1ms;
  width: 1rem;
}

.category-menu:hover > .icon-xl-window {
  transform: rotate(180deg);
  color: #2563eb;
}
.category-menu:hover > .icon-lg-window {
  transform: rotate(0);
  color: #2563eb !important;
}
.category-menu:hover > .open-slide-child-li {
  opacity: 1;
  visibility: visible;
}

.menu li > a {
  color: #333;
}
.menu li > span {
  color: #333;
}
.menu li:hover > a {
  color: #2563eb;
}
.menu li:hover > span {
  color: #2563eb;
}

.open-slide,
.open-slide-child-li {
  width: max-content;
  height: 170px;
  background-color: #fff;
  position: absolute;
  top: 90%;
  right: 15%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 35px);
  grid-auto-flow: column;
  text-align: center;
  align-items: flex-start;
  direction: rtl;
  z-index: 9999;
}

.category-menu + div h6,
.category-menu > div h6 {
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  font-size: 0.7rem;
}

.category-menu + div a,
.category-menu > div a {
  color: #333;
  text-decoration: none;
}

.category-menu + div > a:hover > h6,
.category-menu > div > a:hover > h6 {
  background-color: #4579eb;
  color: #fff;
}

.icon-close {
  position: absolute;
  top: 7%;
  right: 2%;
  cursor: pointer;
  width: 0.3rem;
  height: 0.3rem;
}

.box-serch {
  padding: 0.3rem;
  background-color: #f1f1f1;
}
.box-serch > input {
  font-size: 0.7rem;
  background-color: #f1f1f1;
}

/* -------------------------------------------- */

.svg-navbar-blue {
  width: 1.3rem;
}

.text-navbar-blue > h6 {
  font-size: 0.8rem;
}

.text-navbar-blue > h6 > a {
  letter-spacing: 1px;
  border: 1px solid #fff;
  background-color: #0d6efd;
  color: #fff;
  transition: all 0.3s ease 0.01s;
}

.text-navbar-blue > h6 > a:hover {
  color: #2563eb;
  background-color: #fff;
}

.Social-networks > a:hover {
  transform: scale(1.2);
}

/* ----------------------------------------------------------------- */

.box-serch__ul-list {
  position: absolute;
  top: 50px;
  display: none;
}
.box-serch__ul-list.show {
  width: -webkit-fill-available;
  background-color: #fff;
  border-radius: 10px;
  text-align: justify;
  z-index: 999;
  max-height: 20rem;
  direction: rtl;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: inline-block;
}
.box-serch__ul-list > li {
  cursor: pointer;
  font-size: small;
}
.box-serch__ul-list > li:hover {
  background-color: #f1f1f1;
  overflow: hidden;
}
.box-serch__ul-list li:last-child {
  border-bottom: none !important;
}

/* ----------------------------------------------------- */

.mini-loader {
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.mini-loader span {
  width: 6px;
  height: 6px;
  background-color: #666;
  border-radius: 50%;
  animation: blink 1s infinite ease-in-out;
}

.mini-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.mini-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  40% {
    opacity: 1;
    transform: scale(1.2);
  }
}
