@import './navbar/navbar.css';
@import './product/box.css';
@import './cart/cart.css';
@import './footer/footer.css';
@import './category.css';
@import './login.css';
@import './loader/loader.css';

/*! CSS Custom Properties */
:root {
  --primary-color: #2563eb;
  --secondary-color: #5b89f0;
  --accent-color: #b40190b3;
  --text-color: #333;
  --light-gray: #f7f9fa;
  --border-radius: 15px;
  --transition: all 0.4s ease 0.1ms;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*! --------------------------------------------------------------****** Style All ********-------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: var(--light-gray);
  font-family: Vazirmatn, sans-serif;
}

a,
li {
  list-style-type: none;
  text-decoration: none !important;
}

.header-image-box,
.category-box {
  position: relative;
  width: 100vw;
}

/*! ------------------------------------------------- */

.header-image-box {
  width: 95%;
  height: 450px;
  margin: 150px auto 0;
  display: grid;
  grid-template-columns: 250px repeat(1, 1fr) 250px;
  grid-template-rows: repeat(2, 1fr);
  gap: 65px 30px;
}

.header-image-box > div {
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header-image-box > div > h6 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 6px 10px #702ae7;
  z-index: 1;
}

/*! --------------------------------------------------------------------ihover style */

.info > h3 {
  letter-spacing: 1px;
}
.ih-item.square.effect13 .info p {
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 1rem;
}

.ih-item img {
  position: relative;
  width: 100%;
  height: 100%;
}

/*! -------------------------------------------------------------------- */

.header-image-box > .image-big {
  overflow: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  position: relative;
  justify-content: flex-start;
  direction: rtl;
}

.boxs-left {
  box-shadow: -8px -9px 1px #c3c9d2;
}

.boxs-right {
  box-shadow: 8px -9px 1px #c3c9d2;
}

.image {
  border-radius: 30px;
  overflow: hidden;
}

.box-top,
.box-bottom {
  height: 30rem;
}

.box-img-header {
  margin-top: 2rem;
}

.image-slider {
  height: 30rem;
}

.container-boxs-small {
  padding: 30px;
}

/*!! --------------------------------------------------------------****** Baner 1 ********-------------------------------------------------------------------- */
.navbar-syna {
  width: 100%;
  height: 180px;
  border-radius: var(--border-radius);
  background: url("../images/gamer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.navbar-syna > div {
  width: 95%;
  background: linear-gradient(to right, rgba(124, 198, 221, 0), rgba(115, 188, 210, 1) 11%, rgba(78, 170, 199, 1) 25%);
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-syna > div > div:first-child {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: end;
  color: #fff;
  width: 92%;
  justify-content: space-around;
  height: 100%;
}

.navbar-syna > div > div:first-child > div:first-child > p {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.navbar-syna > div > div:first-child > div:first-child > h4 {
  font-size: 42px;
  font-weight: 900;
  opacity: 0.5;
}

.navbar-syna > div > div:first-child > div:last-child {
  align-self: end;
  padding-bottom: 25px;
}

.navbar-syna > div > div > div:last-child > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  background-color: #3791ad8a;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: #fff;
  font-size: 18px;
  transition: var(--transition);
}
.navbar-syna > div > div > div:last-child > a:hover {
  gap: 15px;
  background-color: #fff;
  color: #3791ad8a;
}

.navbar-syna > div > div > div:last-child > a > svg {
  width: 25px;
}

.navbar-syna > div > div > div:last-child > a > span {
  font-weight: 500;
}

.navbar-syna > div > div:last-child {
  position: relative;
  height: 100%;
}

.navbar-syna > div > div:last-child > div {
  width: 100px;
  height: 100px;
  background-color: #70b5cb;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.navbar-syna > div > div:last-child > div:first-child {
  right: -25px;
  top: -40px;
}

.navbar-syna > div > div:last-child > div:last-child {
  right: -25px;
  bottom: -40px;
}

.navbar-syna > div > div:last-child > div > div {
  width: 75px;
  height: 75px;
  background-color: #9ac4d1;
  border-radius: 100%;
}

/*! --------------------------------------------------------------****** Baner 3 ********-------------------------------------------------------------------- */

.box-baner {
  width: 95vw;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.baner-left {
  width: 50%;
  height: 100%;
  background: url("../images/box-left.webp") -330px center/cover no-repeat;
  display: flex;
  flex-direction: row-reverse;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.baner-left > div {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background: linear-gradient(to left, var(--primary-color) 10%, var(--secondary-color) 60%, var(--accent-color));
  width: 100vw;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 50px;
}

.baner-left > div > h4 {
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  word-spacing: 10px;
}

.baner-right {
  width: 50%;
  height: 100%;
  background: url("../images/box-right.jpg") 90px center/cover no-repeat;
  display: flex;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.baner-right > div {
  background: linear-gradient(to right, var(--primary-color) 10%, var(--secondary-color) 60%, var(--accent-color));
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-left: 5rem;
}

.baner-right > div > h4 {
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 26vw;
  text-align: end;
  word-spacing: 10px;
}

/*! --------------------------------------------------------------****** baner 4 ********-------------------------------------------------------------------- */

.box-baner-last {
  width: 95%;
  margin: 0 auto;
  color: #fff;
}
.box-baner-last > div {
  height: 350px;
  width: 100%;
  background: url("../images/image-44.jpg") center/cover round, #333;
  background-blend-mode: soft-light;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-align: end;
  padding: 25px 50px;
  background-repeat: no-repeat;
}

.box-baner-last > div > div {
  align-self: end;
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  gap: 170px;
}

.box-baner-last > div > div > h3 {
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.box-baner-last > div > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: var(--transition);
}
.box-baner-last > div > div > a:hover {
  transform: scale(1.2);
}

.box-baner-last > div > div > a > svg {
  padding-top: 6px;
  width: 18px;
}

.box-baner-last > div > h4 {
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 5px;
  align-self: end;
  padding-bottom: 30px;
}

.box-baner-last > div > h4 span {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}

/*! --------------------------------------------------------------****** Articles ********-------------------------------------------------------------------- */
.box-articles {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

  
.mySwiper4 {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
}

.mySwiper4 .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-articles > div > div:first-child > img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.box-articles > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px 5px;
  width: 100%;
  text-align: end;
}
.box-articles > div {
  width: 500px;
}
.box-articles > div > div:last-child > p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
.box-articles > div > div:last-child > a {
  color: var(--primary-color);
  font-weight: 500;
  font-size: small;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
  justify-content: center;
  width: fit-content;
  transition: var(--transition);
}
.box-articles > div > div:last-child > a:hover {
  transform: scale(1.1);
}
.box-articles > div > div:last-child > a > svg {
  width: 12px;
}

.arrow-discounts-title {
    width: 10rem;
    color: #fff;
    float: inline-start;
}

.box-arrows-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}