:root {
  --primary-color: #2563eb;
  --navbar-width-1400: 91%;
  --navbar-width-1200: 87%;
  --navbar-width-992: 81%;
  --navbar-width-768: 72%;
  --navbar-width-420: 90%;
  --icon-size-1400: 2.5rem;
  --icon-size-1200: 45px;
  --font-size-small: 0.7rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

@media screen and (max-width: 1450px) {
  .mySwiper2 {
    margin: 0 5rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .shoping-cart {
    width: var(--icon-size-1400);
    height: var(--icon-size-1400);
  }

  .box-serch-global {
    position: absolute;
    z-index: 99;
    top: 350%;
    left: 0;
    width: 30rem;
    height: 3rem;
  }

  .header-image-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .header-image-box > .image-big {
    width: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 8;
  }

  .col-sm-6 {
    grid-row: 8 / 9;
    height: 215px;
  }

  .box-img-header {
    margin-top: 0;
  }

  .image {
    border-radius: 0;
  }

  footer > div > div:last-child {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--spacing-large);
    justify-items: end;
  }

  footer > div > div:last-child > div:first-child {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    text-align: center;
  }

  .box-email-footer {
    justify-self: baseline;
    width: 100%;
  }

  .navbar-syna > div {
    width: var(--navbar-width-1400);
  }

  .box-baner {
    margin: 0;
  }
  .baner-left,
  .baner-right {
    height: 75%;
  }
  .baner-right > div > h4,
  .baner-left > div > h4 {
    font-size: 36px;
  }
  .box-baner-last > div > div > h3 {
    font-size: 1.75rem;
  }
  .box-baner-last > div > h4 {
    font-size: 2rem;
  }

  /** --------------------------------------------- category page */
  .container-category__footer {
    column-gap: 23px;
    padding: 35px 10px;
  }
  .product-card {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .shopping-cart-icon {
    height: 50px;
    width: 50px;
  }
  .notif-cart {
    left: 35px;
  }
  .ih-item img {
    left: 0;
    width: 100%;
  }
  .cantain-box-slider {
    margin: 70px 0;
  }
  .cart-notification {
    left: 37px;
  }

  .mySwiper2 {
    margin: 0 1rem;
    padding: 0 0.5rem;
  }

  .category-box {
    margin: 40px 0;
  }
  .category-box > h3 {
    font-size: xx-large;
    margin-bottom: 40px;
  }
  .category-box > div:nth-child(2) > div > div {
    width: 100px;
    height: 100px;
  }
  .category-box > div:nth-child(2) > div > h6 {
    font-size: xx-small;
  }

  .box-baner {
    gap: 0;
    height: 850px;
    flex-wrap: wrap;
    flex-basis: max-content;
    width: 100%;
    overflow: hidden;
  }
  .box-baner > div {
    width: 100vw;
    height: 20rem;
  }
  .baner-left {
    margin-bottom: 2rem;
    transform: translateX(5%);
  }
  .baner-left > div {
    padding-left: 40%;
  }
  .baner-right {
    transform: translateX(-5%);
  }

  footer > div > div:last-child {
    grid-template-columns: 2fr repeat(2, 1.5fr);
  }

  .navbar-syna {
    border-radius: 0;
  }
  .navbar-syna > div {
    width: var(--navbar-width-1200);
  }
  .navbar-syna > div > div:first-child > div:first-child > p {
    font-size: 1.625rem;
  }
  .navbar-syna > div > div:first-child > div:first-child > h4 {
    font-size: 2.25rem;
  }

  .navbar-syna > div > div > div:last-child > a {
    font-size: 0.75rem;
  }

  /* .cantainer-discounts-goods > div > div:nth-child(4),
  .discounts-goods-slider > div > div:nth-child(4) {
    width: 90%;
  } */

  .discounts-box {
    width: 100%;
  }
  .discounts-box > div {
    border-radius: 0;
    gap: 0;
  }

  .box-baner-last > div > div > h3 {
    font-size: 1.5rem;
  }
  .box-baner-last > div > h4 {
    font-size: 1.75rem;
  }

  /** --------------------------------------------- login page */
  .box-form > form > div {
    width: 95%;
  }
  .box-form > form > button {
    width: 95%;
  }

  /** --------------------------------------------- category page */
  .container-category__footer {
    column-gap: 100px;
  }
  .product-rating::after {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .mySwiper2 {
    margin: 0 8rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 992px) {
  .menu-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    padding: 0;
    background-color: #fff;
    flex-direction: column;
    gap: var(--spacing-small);
    justify-content: start;
    z-index: 10;
  }

  .menu-home > li {
    width: 100%;
    margin: 0 auto;
    text-align: end;
    padding: var(--spacing-small);
    border-radius: 10px;
  }

  .menu-home > li > a {
    padding-right: var(--spacing-small);
  }

  .menu {
    overflow: scroll;
  }
  .category-menu {
    margin-top: 7rem;
  }

  .shoping-cart:hover,
  .page:hover {
    transform: scale(1);
  }

  .discounts-box {
    margin: 0;
  }

  .mySwiper2 {
    margin: 0 5rem;
    padding: 0 0.5rem;
  }

  footer > div > div:last-child {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
  }
  .box-email-footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;
    width: 90% !important;
  }

  .navbar-syna > div {
    width: var(--navbar-width-992);
  }
  .navbar-syna > div > div:first-child > div:first-child > p {
    font-size: 1.375rem;
  }
  .navbar-syna > div > div:first-child > div:first-child > h4 {
    font-size: 1.5rem;
  }
  .navbar-syna > div > div:first-child {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: end;
    color: #fff;
    width: 92%;
    justify-content: center;
  }
  .navbar-syna > div > div:first-child > div:first-child > h4 {
    margin-bottom: 4rem;
  }

  .baner-right > div > h4 {
    width: 45vw;
  }
  .box-baner-last > div {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: end;
    padding: 20px 5px;
  }
  .box-baner-last > div > div {
    gap: 140px;
  }
  .box-baner-last > div > div,
  .box-baner-last > div > h4,
  .box-baner-last > div > div > a {
    align-self: center;
  }
  .box-baner-last > div > h4 {
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .cantain-box-slider > div:first-child > div:first-child > h5,
  .cantain-box-articles > div:first-child > div:first-child > h5 {
    font-size: medium;
    margin: 3px;
  }
  .cantain-box-slider > div:first-child > a:last-child,
  .cantain-box-articles > div:first-child > a:last-child {
    font-size: small;
    padding: 5px 15px;
    font-weight: 500;
  }

  /** --------------------------------------------- login page */
  .contain {
    flex-wrap: wrap;
  }
  .box-form {
    width: 80%;
    height: max-content;
    padding-bottom: 2rem;
  }

  /** --------------------------------------------- category page */
  .container-category__footer {
    column-gap: 60px;
  }
  .product-card {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .mySwiper2 {
    margin: 0 2rem;
    padding: 0 0.5rem;
  }

  /** --------------------------------------------- category page */
  .container-category__footer {
    column-gap: 25px;
  }
  .buy-button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .box-serch-global {
    top: 40rem;
    /* width: 70vw; */
    left: 12vw;
  }

  .category-box {
    margin: 150px auto 0 auto;
    width: 80%;
  }
  .category-box > h3 {
    font-size: large;
    margin-bottom: 50px;
  }
  .category-box > div:nth-child(2) > div > div {
    width: 100px;
    height: 100px;
  }
  .category-box > div:nth-child(2) > div > h6 {
    font-size: xx-small;
  }

  .discounts-box {
    margin: 2rem auto;
    height: max-content;
  }
  .discounts-box > div {
    gap: 0;
    padding: 0;
  }
  .mySwiper2,
  .mySwiper3 {
    height: 32rem;
  }
  .discounts-title h2 {
    font-size: 32px;
  }
  .discounts-title > h2 > span {
    font-size: 28px;
  }
  .discounts-title > div {
    gap: 35px;
  }
  .discounts-title > div > div > div {
    width: 40px;
    height: 40px;
  }
  .discounts-title > div > div > div > h6 {
    font-size: 1.1rem !important;
  }
  .discounts-title > div > div > p {
    font-weight: 500;
    font-size: x-small;
  }

  .discounts-box {
    height: 42rem;
  }
  .discounts-box > div {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  .discounts-title {
    padding-top: 15px;
    gap: 30px;
  }
  .discounts-title h2 {
    width: auto;
    text-align: center;
  }
  .discounts-title div {
    justify-content: center;
  }

  .navbar-syna > div > div:first-child > div:first-child > p {
    font-size: 0.875rem;
  }

  .baner-right > div > h4,
  .baner-left > div > h4 {
    font-size: 26px;
  }

  .cantain-box-slider > div:first-child > div:first-child > h5,
  .cantain-box-articles > div:first-child > div:first-child > h5 {
    font-size: small;
    margin: 3px;
  }
  .cantain-box-slider > div:first-child > a:last-child,
  .cantain-box-articles > div:first-child > a:last-child {
    font-size: x-small;
    padding: 5px 15px;
    font-weight: 500;
  }
  .cantain-box-slider > div:first-child > a:last-child > p,
  .cantain-box-articles > div:first-child > a:last-child > p {
    /* margin-bottom: 2px !important; */
  }
  .cantain-box-articles > div:first-child {
    flex-direction: row-reverse;
    padding: 0 0.5rem;
  }
  .cantain-box-slider > div:first-child > div:first-child,
  .cantain-box-articles > div:first-child > div:first-child {
    border-right: 10px solid var(--primary-color);
    border-left: 0;
    padding: 0 5px;
  }
  .cantain-box-articles {
    padding: 0 3.5rem;
    width: 100%;
  }

  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 10rem;
  }

  /** --------------------------------------------- login page */
  .box-form {
    width: 100%;
  }

  /** --------------------------------------------- category page */
  .container-category__header-item {
    width: 100%;
  }
  .box-search-category {
    width: 100%;
  }
  .product-image-container {
    width: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .text-navbar-blue > h6 {
    font-size: 0.5rem;
  }

  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 7rem;
  }

  .cantain-box-articles {
    padding: 0 1rem;
    width: 100%;
  }

  .cantain-box-slider > div:first-child > div:first-child > h5,
  .cantain-box-articles > div:first-child > div:first-child > h5 {
    font-size: small;
    font-weight: 900;
    margin: 3px;
  }
  .cantain-box-slider > div:first-child > a:last-child,
  .cantain-box-articles > div:first-child > a:last-child {
    font-size: xx-small;
    padding: 5px 15px;
  }
  .cantain-box-slider > div:first-child {
    flex-direction: row-reverse;
  }
  .cantain-box-articles > div:first-child {
    flex-direction: row-reverse;
    padding: 0 0.5rem;
  }
  .cantain-box-slider > div:first-child > div:first-child,
  .cantain-box-articles > div:first-child > div:first-child {
    border-right: 10px solid var(--primary-color);
    border-left: 0;
    padding: 0 5px;
  }
  .cantain-box-slider,
  .cantain-box-articles {
    gap: 0;
  }
  .box-articles > div > div:last-child {
    width: 100%;
  }
  .box-articles > div > div:last-child > a {
    justify-content: flex-end;
    font-size: x-small;
  }
  .box-articles > div > div:last-child {
    text-align: end;
  }
  .box-articles > div > div:last-child > h6 {
    font-size: 14px;
    letter-spacing: 0;
  }
  .box-articles > div > div:last-child > p {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 576px) {
  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 5rem;
  }

  .box-brand h1 {
    font-size: medium !important;
  }
  .box-serch-global {
    top: 14rem;
    width: 70vw;
    left: 13vw;
    height: 2.5rem;
  }
  .cantainer-open-cart {
    width: 101vw;
    left: -8px;
  }
  .open-cart {
    width: 60%;
    left: 0.4rem;
  }
  .notif-cart {
    left: 33px;
  }
  .remove-btn {
    width: 20px;
    height: 24px;
  }
  .remove-btn i {
    font-size: 14px;
  }
  .box-goods h6 {
    margin-left: 0.2rem;
    font-size: 8px;
    padding: 7px;
  }
  .box-goods p {
    font-size: xx-small;
  }
  .text-price-cart-box > span {
    font-size: xx-small;
  }
  .box-goods > div:first-child {
    height: 25px;
  }
  .box-goods > div:first-child > span {
    font-size: medium;
    margin-bottom: 3px;
  }
  .btn-modol-cart-box > a,
  .btn-modol-cart-box > button {
    font-size: xx-small;
  }
  .shoping-cart,
  .page {
    transform: scale(0.8);
  }

  .box-top,
  .box-bottom {
    height: 35rem;
    flex-direction: column;
  }
  .image-slider {
    height: 5rem;
  }
  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .container-boxs-small {
    padding: 0;
    gap: 2.5rem;
  }

  .category-box {
    margin: 6rem auto 40px auto;
    width: 90%;
  }
  .category-box > h3 {
    font-size: x-small;
    margin-bottom: 30px;
  }
  .category-box > div:nth-child(2) > div {
    gap: 15px;
  }
  .category-box > div:nth-child(2) > div > div {
    width: 50px;
    height: 50px;
  }
  .category-box > div:nth-child(2) > div > h6 {
    font-size: 6px;
    font-weight: normal;
  }
  .category-box-text {
    font-size: var(--font-size-small);
    letter-spacing: 0;
  }

  .discounts-box {
    margin: 0;
  }
  .box-img + div {
    justify-content: center;
  }
  .box-img + div > div:first-child {
    display: none;
  }
  .next-img-box {
    width: 60%;
  }
  .box-img + div > div:last-child > div > svg {
    width: 25%;
  }

  .navbar-syna > div > div:first-child > div:first-child > p {
    font-size: 0.875rem;
  }
  .navbar-syna > div > div:first-child > div:first-child > h4 {
    font-size: 1.5rem;
  }
  .navbar-syna > div > div > div:last-child > a {
    font-size: 0.625rem;
    gap: 15px;
    padding: 7px 15px;
  }

  .box-baner {
    height: 700px;
  }

  .baner-left {
    background-position-x: -285px;
  }
  .baner-left > div {
    padding-right: 2rem;
    padding-left: 12rem;
  }
  .baner-right > div {
    padding-left: 1rem;
    padding-right: 14rem;
  }
  .box-baner > div > div {
    align-items: center;
    justify-content: center;
  }
  .baner-left > div > .discounts-title {
    align-self: center;
    padding: 0;
  }

  .box-baner-last > div > div > h3 {
    font-size: 1.25rem;
  }
  .box-baner-last > div > h4 {
    font-size: 1.5rem;
  }

  footer > div > div:last-child {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
  footer > div > div:last-child > div:first-child {
    grid-column: 1;
  }
  .box-email-footer {
    grid-column: auto;
    grid-row: 4 / 5;
  }
  footer > div > div:last-child > div:nth-child(3) {
    grid-row: 3;
  }
  footer > div > div:last-child > div:nth-child(2),
  footer > div > div:last-child > div:nth-child(3),
  footer > div > div:last-child > div:nth-child(4) {
    padding-top: 20px;
  }

  /** --------------------------------------------- login page */
  .box-form > form > div {
    width: 100%;
  }
  .box-form > form > button {
    width: 100%;
  }

  /** ----------------------------------------------- category page */
  .container-boxes {
    margin: 10px auto;
  }
  /* .container {
    width: 100%;
  } */
}

@media screen and (max-width: 500px) {
  .text-navbar-blue > h6 {
    font-size: 0.4rem;
  }
  .open-cart {
    width: 90%;
  }

  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 3rem;
  }

  .cantainer-discounts-goods > div > div:nth-child(3) > p,
  .discounts-goods-slider > div > div:nth-child(3) > p {
    font-size: 0.625rem;
  }

  .box-baner {
    gap: 0;
    flex-basis: max-content;
  }
  .box-baner > div {
    height: 15rem;
  }
  .baner-left {
    margin-bottom: 1rem;
    background-position-x: -200px;
  }
  .baner-right {
    background-position-x: 0;
  }
  .baner-left > div {
    padding: 2rem 4rem;
    gap: 15px;
  }
  .baner-right > div {
    padding: 0 5rem 0 1rem;
  }
  .box-baner > div > div {
    align-items: center;
  }
  .baner-left > div > .discounts-title {
    align-self: end;
    padding: 0;
  }
  .baner-left > div > h4,
  .baner-right > div > h4 {
    font-size: 1rem;
    text-align: end;
  }
  .discounts-title > div {
    gap: 20px;
  }
  .discounts-title > div > div > div {
    width: 25px;
    height: 25px;
  }
  .discounts-title > div > div > div > h6 {
    font-size: 0.7rem !important;
  }
  .discounts-title > div > div > p {
    font-weight: normal;
    font-size: xx-small;
  }

  .box-baner-last > div > div > h3 {
    font-size: 0.7rem;
    letter-spacing: 0;
  }
  .box-baner-last > div > h4 {
    font-size: 1rem;
  }
  .box-baner-last > div > h4 > span {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  /* .blue-bar {
    display: none !important;
  } */
  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 1rem;
  }

  .category-box-text {
    font-size: var(--font-size-medium);
  }

  .discounts-goods > div > div,
  .swiper-slide {
    width: 100%;
  }

  .navbar-syna > div > div:first-child {
    width: var(--navbar-width-420);
    padding-right: var(--spacing-small);
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .navbar-syna > div > div:first-child > div:last-child {
    align-self: center;
  }

  .navbar-syna > div {
    width: var(--navbar-width-420);
    justify-content: end;
    background-image: linear-gradient(
      to right,
      rgba(124, 198, 221, 0),
      rgba(115, 188, 210, 1) 25%,
      rgba(78, 170, 199, 1) 70%
    );
  }
  .navbar-syna > div > div:first-child > div:first-child > h4 {
    margin-bottom: 0;
  }

  .box-serch-global {
    width: 80vw;
    left: 35px;
  }

  .text-navbar-blue > h6 {
    font-size: 0.3rem;
  }
}

@media screen and (max-width: 380px) {
  .mySwiper2,
  .mySwiper3,
  .cantain-box-slider > div {
    padding: 0 0.5rem;
  }

  .category-box {
    width: 95%;
  }

  .add-cart {
    width: 93%;
  }

  .add-cart > p {
    justify-content: center;
  }
}
