* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cantainer {
  width: 70%;
  margin: 50px auto;
}

.cantainer-category,
.cantainer-bookmarks,
.box-row-3 {
  display: flex;
  row-gap: 30px;
  height: 100%;
  align-items: end;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 72px;
}

.cantainer-category > div > div:nth-child(4) > svg,
.cantainer-bookmarks > div > div:nth-child(4) > svg,
.box-row-3 > div > div:nth-child(4) > svg {
  width: 40%;
  height: 100%;
  padding: 7px;
}

/* --------------------------------------------------------------****** Box Slider Category ********-------------------------------------------------------------------- */

.category-box {
  margin: 60px auto;
}

.category-box > h3 {
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.category-box > h3 > span {
  font-weight: 900;
  color: #2563eb;
}

.category-box > div:nth-child(2) {
  height: 250px;
}

.category-box > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.category-box > div:nth-child(2) > div:hover {
  transform: translateY(-10px);
  transition: all 0.4s ease 0.1ms;
  cursor: pointer;
}

.category-box > div:nth-child(2) > div > div {
  width: 170px;
  height: 170px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category-box > div:nth-child(2) > div > div > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.category-box > div:nth-child(2) > div:nth-child(1) > div > a {
  background-image: url("../images/category/phone-call.png");
}
.category-box > div:nth-child(2) > div:nth-child(2) > div > a {
  background-image: url("../images/category/digital.png");
}
.category-box > div:nth-child(2) > div:nth-child(3) > div > a {
  background-image: url("../images/category/branding.png");
}
.category-box > div:nth-child(2) > div:nth-child(4) > div > a {
  background-image: url("../images/category/kitchen.png");
}
.category-box > div:nth-child(2) > div:nth-child(5) > div > a {
  background-image: url("../images/category/blender.png");
}
.category-box > div:nth-child(2) > div:nth-child(6) > div > a {
  background-image: url("../images/category/t-shirt.png");
}
.category-box > div:nth-child(2) > div:nth-child(7) > div > a {
  background-image: url("../images/category/gold.png");
}
.category-box > div:nth-child(2) > div:nth-child(8) > div > a {
  background-image: url("../images/category/beauty-product.png");
}
.category-box > div:nth-child(2) > div:nth-child(9) > div > a {
  background-image: url("../images/category/first-aid-kit.png");
}
.category-box > div:nth-child(2) > div:nth-child(10) > div > a {
  background-image: url("../images/category/sport-equipment.png");
}
.category-box > div:nth-child(2) > div:nth-child(11) > div > a {
  background-image: url("../images/category/car.png");
}
.category-box > div:nth-child(2) > div:nth-child(12) > div > a {
  background-image: url("../images/category/tools.png");
}
.category-box > div:nth-child(2) > div:nth-child(13) > div > a {
  background-image: url("../images/category/cola.png");
}
.category-box > div:nth-child(2) > div:nth-child(14) > div > a {
  background-image: url("../images/category/plane.png");
}
.category-box > div:nth-child(2) > div:nth-child(15) > div > a {
  background-image: url("../images/category/localization.png");
}

.category-box > div:nth-child(2) > div > div > a > img {
  width: 65%;
}

.category-box > div:nth-child(2) > div > h6 {
  font-size: 0.9rem;
}

/* ----------------------------------------swiper */

.mySwiper1 {
  width: 90%;
  height: 20rem;
}

/* ------------------------------------------------ */

.dropdown-category {
  direction: rtl;
  letter-spacing: 1px;
  width: 270px;
  background-color: #0f172a;
}

.cantainer-category__header-item .box-serch {
  height: 40px;
}

.cantainer-category__footer {
  display: flex;
  row-gap: 30px;
  height: 100%;
  align-items: end;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 72px;
}

.icon-view:hover {
  transform: scale(1.1);
  /* background-color: #2563eb; */

}